body {
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button {
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: var(--vscode-button-border);
}

.mat-form-field-label{
  color: red !important;
  /* background-color: wheat !important; */
  background: --vscode-input-background !important;
}
.mat-form-field{
  color: red !important;
  /* background-color: wheat !important; */
  background: --vscode-input-background !important;
}

button:hover {
  background: var(--vscode-button-hoverBackground);
}

.mat-card {
  border-color: var(--vscode-panel-border);
  border-style: solid;
  background: var(--vscode-editorGroup-border);
  box-shadow: 1px 1px 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mat-card-header {
  font-size:20px;
}

.mat-list-item {
  background: var(--vscode-list-background);
}

.mat-list-item:hover {
  background: var(--vscode-list-hoverBackground);
}

.mat-list-item:focus {
  background: var(--vscode-list-focusBackground);
  outline: var(--vscode-list-focusOutline);
}
